.main-view {
	display: inline-flex;
}

.im-navigator {
	display: inline-flex;
}

.im-cont {
    position: relative;		
    width: 1024px;
    height: 768px;
    overflow: hidden;
}   

.im-view {
    position: relative;
}

.im-inputbox {
    position: absolute;
    opacity: 0.25;
    top: 0;
    left: 0;
    border-style: solid;
    cursor: crosshair;
}

.control-section {
	margin-top: 10px;
}

.sent {
	background-color: gray;
}

.actual {
	background: limegreen;
}